@font-face {
  font-family: FREESCPT;
  src: url("../fonts/FREESCPT.ttf");
  src: url("../fonts/FREESCPT.eot");
  src: url("../fonts/FREESCPT.otf");
  src: url("../fonts/FREESCPT.svg");
  src: url("../fonts/FREESCPT.woff"); }

div, header, footer, section, nav, ul, p {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 14px; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  margin: 0; }

.wrap {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 20px; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

h1, h2, h3 {
  margin: 0;
  padding: 0; }

h1 {
  color: #ffffff;
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.6;
  letter-spacing: 1.6px; }

h2 {
  font-size: 30px;
  color: #5363db;
  font-weight: 700;
  text-transform: uppercase; }

h3 {
  color: #777777;
  text-transform: uppercase;
  font-size: 18px; }

.burger {
  display: none; }
  .burger__item {
    height: 3px;
    width: 30px;
    background-color: #5363db;
    position: relative;
    border-radius: 8px; }
    .burger__item::before, .burger__item::after {
      content: "";
      display: block;
      position: absolute;
      height: 3px;
      width: 30px;
      background-color: #5363db;
      left: 0;
      top: 7px;
      border-radius: 8px; }
    .burger__item::after {
      top: 14px; }
  .burger__trigger {
    position: absolute;
    height: 30px;
    width: 30px;
    top: 45px;
    cursor: pointer; }

.mainHeader.slide .burger__trigger {
  top: 30px; }

.burgerMenu {
  list-style: none;
  position: fixed;
  left: -290px;
  top: 0;
  background: #5363db;
  margin: 0;
  padding: 70px;
  height: 100vh;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 10; }
  .burgerMenu.active {
    left: 0; }
  .burgerMenu li {
    margin-bottom: 30px; }
  .burgerMenu a {
    text-decoration: none;
    color: #fff; }

.mainHeader {
  padding: 15px 0;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear; }
  .mainHeader nav {
    display: grid;
    grid-template-columns: 1fr 170px 1fr;
    grid-gap: 20px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .mainHeader nav ul {
      list-style: none; }
    .mainHeader nav li {
      display: inline-block;
      margin: 0 15px;
      font-size: 14px; }
    .mainHeader nav a {
      text-decoration: none;
      color: #555555;
      position: relative;
      display: inline-block;
      -webkit-transition: all 0.3s linear;
      transition: all 0.3s linear;
      padding-bottom: 5px; }
      .mainHeader nav a::after {
        position: absolute;
        left: 50%;
        content: '';
        height: 1px;
        background: #5363db;
        -webkit-transition: all 0.3s linear;
        transition: all 0.3s linear;
        width: 0;
        bottom: 0; }
      .mainHeader nav a:hover {
        color: #5363db; }
        .mainHeader nav a:hover::after {
          width: 30px;
          margin-left: -15px; }

.maimLogo {
  text-align: center; }

.mainMenu {
  text-align: right;
  padding-right: 70px; }

.contactMenu {
  padding-left: 70px; }

.mainHeader.slide {
  padding: 0;
  position: fixed;
  width: 100%;
  background: #fff;
  z-index: 50; }

.mainSlider {
  background: url("../img/slider-bg.jpg") no-repeat;
  padding: 105px 0 110px 0;
  background-position: center;
  background-size: cover; }
  .mainSlider__form {
    background: #ffffff;
    border-radius: 20px;
    padding: 40px 40px 35px 30px;
    width: 300px;
    float: left;
    -webkit-box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.15);
    margin-left: 140px; }
  .mainSlider__formLabel {
    color: #5363db;
    font-size: 25px;
    margin-bottom: 35px; }
  .mainSlider__description {
    float: left;
    width: 515px;
    margin: 55px 0 0 90px; }
    .mainSlider__description p {
      font-family: FREESCPT, sans-serif;
      font-size: 40px;
      color: #ffffff;
      font-weight: normal;
      width: 55%;
      margin-top: 20px; }

.orderForm input:not([type=submit]), .orderForm select {
  display: block;
  width: 100%;
  border: 0;
  outline: 0;
  color: #888888;
  font-size: 14px;
  font-weight: normal;
  background: #f2f2f2;
  padding: 15px 10px 20px;
  margin-bottom: 15px;
  border-radius: 8px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.orderForm input[type=submit] {
  float: right;
  font-weight: 700;
  background: #5363db;
  color: #ffffff;
  border-radius: 8px;
  padding: 15px 65px;
  border: 0;
  outline: 0;
  cursor: pointer;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear; }
  .orderForm input[type=submit]:hover {
    background: #475bf1; }

.orderForm__select {
  position: relative; }
  .orderForm__select select {
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 15px 20px 20px 10px; }
  .orderForm__select::after {
    content: '';
    display: block;
    position: absolute;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: #333 transparent transparent transparent;
    right: 10px;
    top: calc(50% - 3px); }

.yogaProgram {
  padding: 125px 0; }
  .yogaProgram__title {
    text-align: center; }
    .yogaProgram__title p {
      font-family: FREESCPT, sans-serif;
      font-size: 41px;
      margin-top: 25px;
      font-weight: normal;
      color: #777777; }
  .yogaProgram__class {
    margin-top: 75px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }

.yogaClass {
  -webkit-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.1);
  background: #ffffff;
  width: 49%;
  border-radius: 8px;
  margin-bottom: 2%; }
  .yogaClass:nth-child(2n) {
    margin-left: 1%; }
  .yogaClass:nth-child(odd) {
    margin-right: 1%; }
  .yogaClass__img {
    float: left;
    width: 50%; }
    .yogaClass__img img {
      border-radius: 8px 0 0 8px;
      width: 100%; }
  .yogaClass__content {
    padding: 50px 30px;
    float: left;
    width: 50%; }
  .yogaClass__description {
    color: #555555;
    margin: 20px 0;
    line-height: 1.7; }
  .yogaClass__annotation {
    color: #999999; }

.yogaProgram.slide {
  margin-top: 230px; }

.mainGallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .mainGallery .photo {
    width: 25%; }
    .mainGallery .photo a {
      display: block;
      position: relative; }
      .mainGallery .photo a img {
        width: 100%; }
      .mainGallery .photo a::before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background: rgba(91, 108, 235, 0.8);
        opacity: 0;
        z-index: 1;
        -webkit-transition: all 0.3s linear;
        transition: all 0.3s linear; }
      .mainGallery .photo a::after {
        content: '';
        background: url("../img/icons/search.png") no-repeat;
        width: 71px;
        height: 71px;
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        opacity: 0;
        -webkit-transition: all 0.3s linear;
        transition: all 0.3s linear; }
      .mainGallery .photo a:hover::before, .mainGallery .photo a:hover::after {
        opacity: 1; }

.aboutUs {
  margin: 125px 0; }
  .aboutUs__description {
    float: left;
    width: 51%;
    padding: 25px 130px 25px 0; }
    .aboutUs__description p {
      color: #555555;
      margin-top: 25px;
      line-height: 1.7; }
  .aboutUs__slider {
    float: right;
    width: 49%;
    position: relative;
    -webkit-box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.15); }
  .aboutUs__prew, .aboutUs__next {
    position: absolute;
    z-index: 2;
    width: 50px;
    height: 50px;
    -webkit-box-shadow: 0px 9px 9px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 9px 9px 0px rgba(0, 0, 0, 0.1);
    background: #ffffff;
    border-radius: 50%;
    bottom: calc(50% - 25px);
    cursor: pointer; }
    .aboutUs__prew img, .aboutUs__next img {
      position: absolute;
      margin: auto;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0; }
  .aboutUs__prew {
    left: -25px; }
  .aboutUs__next {
    right: -25px; }
    .aboutUs__next img {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg); }

.aboutUs__slider .slick-slide img {
  width: 100%; }

.features {
  background: url("../img/features-bg.jpg") no-repeat;
  color: #ffffff;
  padding: 125px 0;
  background-size: cover; }
  .features__container {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }

.feature {
  width: 25%;
  text-align: center;
  margin-bottom: 60px;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .feature:nth-child(n+5) {
    margin-bottom: 0; }
  .feature__title {
    margin: 25px auto;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    width: 75%;
    height: 45px;
    line-height: 1.3; }

.pricesAndBloquotes {
  background: url("../img/prices.png") no-repeat;
  background-position: right bottom;
  padding: 100px 0 150px; }

.prices__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.price {
  -webkit-box-shadow: 0px 9px 50px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 9px 50px 0px rgba(0, 0, 0, 0.1);
  max-width: 370px;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 10px; }
  .price__cost {
    text-align: center;
    background: #5363db;
    border-radius: 10px 10px 0 0;
    color: #ffffff;
    font-size: 68px;
    font-weight: 700;
    padding: 50px 70px 50px 80px;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear; }
  .price__dolor {
    font-size: 32px;
    display: inline-block;
    position: relative;
    top: -10px; }
  .price__month {
    font-size: 18px;
    text-transform: uppercase; }
  .price__content {
    background: #ffffff;
    padding: 50px 70px 50px 70px;
    border-radius: 0 0 10px 10px; }
  .price__advantages {
    list-style: none; }
    .price__advantages li {
      padding-bottom: 25px;
      margin-bottom: 25px;
      position: relative;
      color: #555555;
      font-size: 18px;
      font-weight: normal; }
      .price__advantages li::after {
        content: '';
        display: block;
        width: 100px;
        height: 1px;
        background: #d7d7d7;
        position: absolute;
        top: 40px;
        left: calc(50% - 50px); }
  .price__buy {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    background: #5363db;
    max-width: 170px;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 15px 0;
    text-align: center;
    margin: 0 auto;
    display: block;
    border-radius: 20px;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    border: 0;
    outline: 0;
    cursor: pointer; }
    .price__buy:hover {
      background: #475bf1; }

.price.active .price__cost {
  background: #475bf1; }

#popUp {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
  display: none; }
  #popUp.active {
    display: block; }

#popUp__form {
  width: 30%;
  height: auto;
  max-height: 350px;
  background: #ffffff;
  padding: 20px 50px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto; }

#closePopUp {
  position: absolute;
  top: -15px;
  right: -15px;
  background: #ffffff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  cursor: pointer; }
  #closePopUp:hover {
    background: #f00;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }
  #closePopUp img {
    margin-top: 7px; }

.bloquotes {
  margin-top: 100px;
  position: relative; }
  .bloquotes__for {
    -webkit-box-shadow: 0px 9px 50px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 9px 50px 0px rgba(0, 0, 0, 0.1); }
  .bloquotes__nav {
    width: 100%;
    max-width: 285px;
    margin: 0 auto;
    margin-top: -50px; }

.bloquote {
  background: #ffffff;
  border-radius: 8px;
  padding: 40px 150px 75px 70px; }
  .bloquote__img {
    float: left;
    width: 25%; }
    .bloquote__img img {
      display: inline-block;
      padding: 10px;
      border: 2px solid #d7d7d7;
      border-radius: 50%; }
  .bloquote__content {
    float: left;
    width: 75%;
    position: relative;
    margin-top: 15px; }
    .bloquote__content::before {
      content: '';
      height: 75px;
      width: 1px;
      position: absolute;
      background: #d7d7d7;
      left: -40px;
      bottom: 0; }
  .bloquote__comment {
    font-style: italic;
    font-size: 14px;
    color: #555555;
    position: relative;
    line-height: 1.5; }
    .bloquote__comment::before, .bloquote__comment::after {
      content: '';
      display: block;
      background: url("../img/icons/bloquote.png") no-repeat;
      width: 21px;
      height: 15px;
      position: absolute; }
    .bloquote__comment::before {
      left: -50px; }
    .bloquote__comment::after {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
      right: -50px; }
  .bloquote__trainer {
    font-size: 13px;
    color: #777;
    margin: 35px 0 10px; }
  .bloquote__name {
    color: #5363db;
    font-size: 18px;
    font-weight: bold; }

.trainer {
  position: relative;
  z-index: 1000; }
  .trainer__content {
    padding: 10px 40px; }
  .trainer__img, .trainer__name {
    float: left; }
  .trainer__img {
    width: 40%; }
    .trainer__img img {
      border: 2px solid #d7d7d7;
      border-radius: 50%;
      padding: 3px; }
  .trainer__name {
    width: 60%;
    margin-top: 20px;
    font-size: 14px;
    font-weight: 700;
    color: #555555; }
  .trainer__position {
    font-size: 12px;
    font-weight: normal;
    display: inline-block;
    margin-top: 8px; }
  .trainer__prew, .trainer__next {
    position: absolute;
    -webkit-box-shadow: 0px 9px 9px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 9px 9px 0px rgba(0, 0, 0, 0.1);
    width: 30px;
    height: 30px;
    background: #ffffff;
    border-radius: 50%;
    cursor: pointer;
    z-index: 2;
    top: calc(50% - 15px); }
    .trainer__prew img, .trainer__next img {
      position: absolute;
      margin: auto;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      width: 8px;
      height: 12px; }
  .trainer__next {
    right: 0; }
    .trainer__next img {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg); }

.my-dots {
  position: absolute;
  list-style: none;
  right: -500px;
  top: -170px; }

.my-dots li {
  position: relative;
  cursor: pointer;
  margin-bottom: 20px; }

.my-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent; }

.my-dots li button:before {
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: url("../img/icons/dot.png");
  cursor: pointer; }

.my-dots li.slick-active button:before {
  content: url("../img/icons/dotActiv.png"); }

.mainFooter {
  background: #5b6ceb;
  padding: 100px 0 0;
  font-size: 14px;
  line-height: 1.6; }
  .mainFooter a {
    color: #ffffff;
    text-decoration: none; }
    .mainFooter a:hover {
      text-decoration: underline; }

.footerAbout, .footerContact {
  float: left;
  width: 50%;
  color: #ffffff;
  font-weight: normal; }

.footerAbout {
  padding-right: 105px; }

.footerAbout__title, .footerContact__title {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 40px; }

.footerAbout__socialList {
  margin-top: 60px;
  list-style: none; }
  .footerAbout__socialList li {
    display: inline-block;
    margin-right: 10px; }

.footerContact__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .footerContact__content div {
    width: 50%;
    padding: 0 35px 0 40px;
    margin-bottom: 30px; }

.footerContact__address {
  background: url("../img/icons/map-logo.png") no-repeat;
  background-position: 0 5px; }

.footerContact__mail {
  background: url("../img/icons/mail-logo.png") no-repeat;
  background-position: 0 5px; }

.footerContact__tel {
  background: url("../img/icons/phone-call.png") no-repeat;
  background-position: 0 5px; }

.footerContact__site {
  background: url("../img/icons/planet-earth.png") no-repeat;
  background-position: 0 5px; }

.footerCopy {
  background: #5363d8;
  color: #b7bffc;
  text-align: center;
  font-size: 16px;
  padding: 45px 0;
  margin-top: 100px; }

@media screen and (max-width: 1366px) {
  .my-dots {
    right: -465px; } }

@media screen and (max-width: 1224px) {
  .my-dots {
    position: static;
    text-align: center;
    margin-top: 15px; }
    .my-dots li {
      display: inline-block; }
  .trainer__prew, .trainer__next {
    top: 22%; }
  .aboutUs__prew, .aboutUs__next {
    bottom: -25px; }
  .aboutUs__prew {
    left: 0; }
  .aboutUs__next {
    right: 0; } }

@media screen and (max-width: 1170px) {
  .mainSlider .wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .mainSlider__form {
    float: none;
    margin: 0 auto; }
  .mainSlider__description {
    float: none;
    width: auto;
    text-align: center;
    padding: 0 10px;
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    margin: 0 auto 50px; }
    .mainSlider__description p {
      width: auto; }
  .yogaProgram.slide {
    margin-top: 0; }
  .price {
    max-width: 315px; }
  .price__cost {
    padding: 50px 40px 50px 50px; }
  .price__advantages li {
    font-size: 15px; }
  .yogaClass__content {
    padding: 20px; } }

@media screen and (max-width: 1024px) {
  .price {
    max-width: 300px; }
  .price__cost {
    padding: 25px 20px 25px 30px; }
  .price__content {
    padding: 35px 40px 35px 40px; }
  .yogaClass__description {
    margin: 7px 0; }
  .yogaClass__content h3 {
    font-size: 16px; } }

@media screen and (max-width: 992px) {
  .yogaClass__img {
    float: none;
    width: 100%;
    text-align: center; }
    .yogaClass__img img {
      width: auto;
      border-radius: 0; }
  .yogaClass__content {
    float: none;
    width: 100%; }
    .yogaClass__content h3 {
      font-size: 18px;
      text-align: center; }
  .yogaClass__description {
    margin: 20px 0; }
  .aboutUs__description {
    float: none;
    padding: 0;
    width: auto;
    margin-bottom: 30px; }
    .aboutUs__description h2 {
      text-align: center; }
  .aboutUs__slider {
    float: none;
    width: 50%;
    margin: 0 auto; }
  .aboutUs__prew, .aboutUs__next {
    bottom: calc(50% - 25px); }
  .aboutUs__next {
    right: -25px; }
  .aboutUs__prew {
    left: -25px; }
  .feature {
    width: 50%; }
    .feature:nth-child(n+5) {
      margin-bottom: 60px; }
  .prices__list {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .price {
    max-width: 48%;
    margin-bottom: 4%; }
  .price:nth-child(3) {
    max-width: 100%;
    text-align: center; }
  .bloquote {
    padding: 40px 70px 75px 30px; }
  .bloquote__content {
    float: right;
    width: 64%;
    position: relative;
    margin-top: 15px; }
  #popUp__form {
    width: 50%; } }

@media screen and (max-width: 768px) {
  .mainMenu {
    display: none; }
  .contactMenu {
    display: none; }
  .mainHeader nav {
    grid-template-columns: 170px 1fr; }
  .burger {
    display: block;
    justify-self: end; }
  .yogaClass {
    width: 100%;
    margin-left: 0; }
  .yogaClass:nth-child(2n) {
    margin-left: 0; }
  .mainGallery .photo {
    width: 50%; }
  .aboutUs__slider {
    width: 80%; }
  .bloquote {
    padding: 40px 70px 75px 70px; }
  .bloquote__img {
    float: none;
    text-align: center;
    width: 100%; }
  .bloquote__content {
    width: 100%;
    float: none; }
  .bloquote__content::before {
    display: none; }
  .footerAbout {
    float: none;
    padding: 0;
    width: 100%;
    margin-bottom: 30px; }
  .footerContact {
    float: none;
    width: 100%; }
  .footerCopy {
    margin-top: 50px; } }

@media screen and (max-width: 600px) {
  h1 {
    font-size: 45px; }
  .price {
    max-width: 100%; }
  #popUp__form {
    width: 80%; } }

@media screen and (max-width: 480px) {
  h1 {
    font-size: 35px; }
  .mainSlider__description p {
    font-size: 30px; }
  .footerContact__content div {
    width: 100%; }
  .feature {
    width: 100%; } }

@media screen and (max-width: 320px) {
  h1 {
    font-size: 30px; }
  .mainSlider__description p {
    font-size: 24px; }
  #popUp__form {
    width: 100%; } }
