@font-face
    font-family: FREESCPT
    src: url("../fonts/FREESCPT.ttf")
    src: url("../fonts/FREESCPT.eot")
    src: url("../fonts/FREESCPT.otf")
    src: url("../fonts/FREESCPT.svg")
    src: url("../fonts/FREESCPT.woff")


